{% include "muttemp.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<style>
/*footer*/
.footer
{
    background-color:#669999;
    width:100%;
    display: block;
    height:130px;
     display: flex;
     margin-top:20px;
     position:relative;
}
.foot
{
    height:50px;
    left:15%;
    float:left;
    font-size:15px;
    color:#fff;
    padding:0;
    position:relative;
    margin:20px;
}
.foot a{
    text-decoration:none;
    color:#CCCCCC;
}
.foot a:hover{
    text-decoration:none;
    color:#fff;
    border-bottom:3px solid  #FFFFFF;
}
.foot-p
{
    position:absolute;
    top:100px;
    left:30%;
    text-align:center;
}
.line2
{
    position:absolute;
    top:-30px;
    left:-25%;
    text-align:center;
}
</style>
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
		{% for i in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
			{% if i!=key %}
				<a href="/Browse/GeneSymbols/{{ i }}">{{ i }}  </a>
			{% else %}
				{{ key }}
			{% endif %}
		{% endfor %}
		</div>
	</div>
{% if message %}
	<div class="row">
		{% for i in message[key] %}
			<div class="col-md-2">
				<a href="/Gene/{{ i }}">{{ i }}</a>
			</div>
		{% endfor %}

	</div>

	
</div>
{% endif %}
<div class="footer">
    <div class="foot">
{#        <div class="row" style="left: 0; background-color:#669999; border: 0px ; text-align: center" >#}
{#            <div class="col-md-6"><a href="http://bmi.sjtu.edu.cn" target="_blank">SJTU - Biomedical Information Lab</a></div>#}
{#            <div class="col-md-6"><a href="http://bioinformatics.nenu.edu.cn/" target="_blank">NENU - Institute of Computational Biology</a></div>#}
{#        </div>#}
    <div class="row" style="left: 0 ; background-color:#669999; border: 2px;" >
        <div class="col-md-4">
            <table>
            <tr><td><a href="http://bmi.sjtu.edu.cn" target="_blank">SJTU - Biomedical Information Lab</a></td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td><a href="http://bioinformatics.nenu.edu.cn/" target="_blank">NENU - Institute of Computational Biology</a></td></tr>
            </table>
        </div>
        <div class="col-md-2"><a href="http://exac.broadinstitute.org/" target="_blank"><img src="/static/foot1.png" style="width: 150px; height: 50px"></a></div>
        <div class="col-md-2"><a href="http://www.bioinfo.org.cn/relative/dbSNP%20Home%20Page.htm" target="_blank"><img src="/static/foot2.jpg" style="width: 150px; height: 50px"></a></div>
        <div class="col-md-2"><a href="http://wannovar.wglab.org/" target="_blank"><img src="/static/foot3.png" style="width: 150px; height: 50px"></a></div>
        <div class="col-md-2"><a href="http://genome.ucsc.edu/" target="_blank"><img src="/static/foot4.png" style="width: 150px; height: 50px"></a></div>
    </div>

    </div>
        <div class="foot-p">

{#           <img class="line2" alt=""  src="/static/line2.png" style="width: 600px; height: 60px;" />#}
            <p><strong><small>© 2018 bmi.sjtu.edu.cn. All rights reserved. 浙ICP备18030141号.</small></strong></p>

        </div>
</div>
{% endblock %}