{% import "bootstrap/wtf.html" as wtf %}
{% include "muttemp.html" %}
{% block content %} 
<div class="container">
	
         {% if message %}

         	<table class="table table-bordered">
         		<tr>
         			<th>EntrezID</th>
    				<th>Disorder</th>
    				<th>CHR_ID</th>
    				<th>CHR_POS</th>
    				<th>PUBMEDID</th>

         		</tr>
         		{% for i in message %}
         			{% for j in i['SNP'] %}
         			<tr>
         				<td>{{ j['ENTREZ_ID']}}</td>
    					<td>{{ j['Disorder']}}</td>
    					<td>{{ j['CHR_ID'] }}</td>
    					<td>{{ j['CHR_POS'] }}</td>
    					<td>{{ j['PUBMEDID'] }}</td>
         			</tr>
         			{% endfor %}
         		{% endfor %}
			</table>
         {% endif %}
     </div>
{% endblock %}