{% import "bootstrap/wtf.html" as wtf %}
{% include "muttemp.html" %}
{% block content %} 
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-bootstrap-table-en-US.min.js"></script>
<script src="\static\bootstrap-table-export.js"></script>
<script src="\static\tableExport.js"></script>
<div class="container">
	<div class="row">
		<div class="col-md-12">
         {% if message and message != [] %}
         	<table data-class="table table-hover"  data-toggle="table" data-pagination="true" data-show-pagination-switch="true" data-page-size=10>
         		<thead>
         		<tr>
         				<th>Chr</th>
    					<th>Position</th>
    					<th>Variant</th>
    					<th>Gene</th>
    					<th>Function</th>
    					<th>AAChange_refGene or Dist to gene</th>
    					<th>Primary Phenotype</th>
    					<th>#Probands</th>
    					<th>#Controls</th>
    					<th>Study</th>
						<th>Sequence type</th>
						<th>#Individual</th>
						<th>rsID</th>
						<th>1000G_Freq.</th>
						<th>ExAc Freq.</th>
						<th>SIFT</th>
						<th>Ployphen-2</th>
    					<th>CADD</th>
    					<th>DeepSea</th>

         		</tr>
         		</thead>
         		<tbody>
         		{% for i in message %}
         			<tr>
         				<td>{{ i['chr'] }}</td>
    					<td>{{ i['Position'] }}</td>
    					<td>{{ i['Variant'] }}</td>
    					<td>{{ i['Gene symbol'] }}</td>
    					<td>{{ i['Func refGene'] }}</td>
    					{% if i['AAChange_refGene or dist_to_genes'] is string %}
    					<td>{{ i['AAChange_refGene or dist_to_genes']}}</td>
    					{% else  %}
    					<td>{{ i['AAChange_refGene or dist_to_genes']|join(',')}}</td>
    					{% endif %}
    					{% if i['Disorder'] is string %}
    					<td>{{ i['Disorder']}}</td>
    					{% else  %}
    					<td>{{ i['Disorder']|join(',')}}</td>
    					{% endif %}
    					<td>{{ i['NumProbands'] }}</td>
    					<td>{{ i['NumControls'] }}</td>
    					<td><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ i['PMID'] }}">{{ i['1st author'] }}</a></td>
    					<td>{{ i['Study_scale'] }}</td>
    					<td>{{ i['Individual ID'] }}</td>
    					<td>{{ i['dbSNP'] }}</td>
    					{% if i['1000G_Freq'] %}
    					<td>{{ i['1000G_Freq'] }}</td>
    					{% else %}
    					<td>{{ i['1000G_ALL'] }}</td>
    					{% endif %}
    					<td>{{ i['ExAC_Freq'] }}</td>
    					<td>{{ i['SIFT_score'] }}</td>
    					<td>{{ i['Polyphen2_HDIV_score'] }}</td>
    					<td>{{ i['CADD_phred'] }}</td>
    					<td>{{ i['DeepSeaScore'] }}</td>

         			</tr>
         		{% endfor %}
         		</tbody>
			</table>
         {% else %}
             No match found !
         {% endif %}
        </div>
    </div>
</div>
{% endblock %}